<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Mr. Fashion</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#/shirts">Camisas</a>
        <a class="nav-item nav-link active" href="#/pants">Pantalones</a>
        <a class="nav-item nav-link active" href="#/jackets">Chaquetas</a>
        <a class="nav-item nav-link active" href="#/cart">Carrito ({{getCount()}})</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/gustavoapv/mr-fashion-store" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </nav>
 